cmake-build-*
.idea
polis_openvpn_server_accessKeys.csv
PolisOpenvpnCredentials.pem
node_modules
.nuxt
.output
dist
*.db
*.env

*.key
*.crt
*.client
litebrite-backend/bin/*
!litebrite-backend/bin/.gitkeep

